textarea:focus,
input:focus {
  outline: none;
}

.contact {
  height: 976px;
  background-color: rgb(0, 0, 0);
  background-image: url(../images/contacts_bg_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .section__name {
    color: $color_white;
    text-transform: uppercase;
    padding-top: 54px;
    margin-bottom: 42px;
  }
}

.contact-form__name,
.contact-form__email {
  width: 270px;
  height: 44px;
  border-radius: 3px;
  background-color: $color_white;
  margin-bottom: 26px;
}

.contact-form__textarea {
  resize: none;
  border-radius: 7px;
  background-color: $color_white;
  width: 270px;
  height: 174px;
  margin-bottom: 44px;
}

.contact-form__name,
.contact-form__email,
.contact-form__textarea {
  border: 0px solid;
}

input,
textarea {
  font-family: $open_sans_font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(193, 193, 193);
  padding-left: 20px;
}

textarea {
  padding-top: 12px;
}

.contact-form__button {
  font-family: $open_sans_font;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color_white;
  border-radius: 3px;
  background-color: rgb(49, 212, 231);
  width: 170px;
  height: 50px;
  margin-bottom: 58px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-touch {
  text-align: center;
  &__header {
    font-family: $raleway__font;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: $color_white;
    margin-bottom: 12px;
  }
  &__text {
    font-family: $open_sans_font;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 38px;
  }
}

.socials__link--facebook,
.socials__link--twitter,
.socials__link--linkedin {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgb(59, 89, 151);
  background-image: url(../images/icons/icon-facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.socials__link--twitter {
  background-image: url(../images/icons/icon-twitter.svg);
  background-color: rgb(62, 194, 243);
}

.socials__link--linkedin {
  background-image: url(../images/icons/icon-linkedin.svg);
}

.socials__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.socials {
  display: flex;
  width: 156px;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 66px;

  &__phone,
  &__email {
    font-family: $open_sans_font;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(191, 172, 226);
  }
}

.copyright,
.rights {
  display: block;
  font-family: $open_sans_font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.bottom {
  position: relative;
}

.copyright::before {
  bottom: 50px;
  position: absolute;
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
}
