.features {
    padding-top: 50px;
}

.section__name {
    margin: 0 auto;
}

.section__text-name {
    display: block;
    width: 290px;
    font-family: $open_sans_font;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    text-indent: 20px;
}


.feature__board {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    &::before {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        background-image: url(../images/icon-board.png);
        background-repeat: no-repeat; 
        background-size: cover;
        margin-left: 6px;
    }
}

.feature__hub::before {
    background-image: url(../images/icon-hub.svg);
}

.feature__thumb::before {
    background-image: url(../images/icon-thumb.svg);
}

.feature__star::before {
    background-image: url(../images/icon-star.svg);
}

.feature__bell::before {
    background-image: url(../images/icon-bell.svg);
}

.feature__share::before {
    background-image: url(../images/icon-share.svg);
}

.feature__block {
    width: 210px;
    &--name {
        font-family: $raleway__font;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        margin-bottom: 18px;
    }
    &--text {
        font-family: $open_sans_font;
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {

    .section__text-name {
        width: 630px;
        font-family: $open_sans_font;
        font-size: 18px;
        line-height: 36px;
        margin: 0 auto;
    }

    .feature__flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 354px;
        height: 600px;
    }

    .section__name {
        font-size: 28px;
       
    }
}