.section {
  background-color: #fff;
  padding: 50px 0px 52px;
  &__name {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    color: $color_cyan;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    &:before,
    &:after {
      content: '';
      width: 60px;
      height: 1px;
      background-color: #babdc1;
    }
    &:before {
      margin-right: 24px;
    }

    &:after {
      margin-left: 24px;
    }
  }
  &__text {
    font-family: $open_sans_font;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #062033;
    margin-bottom: 50px;
  }
}

.team-list {
  &__item {
    &:hover .overlay {
      display: flex;
    }
    &:not(:last-child) {
      margin-bottom: 48px;
    }
    &--photo {
      width: 270px;
      margin: 0 auto;
      margin-bottom: 17px;
      position: relative;
    }
    &--name {
      font-family: $open_sans_font;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      color: #0eb493;
      margin-bottom: 10px;
    }
    &--occupation {
      font-family: $open_sans_font;
      font-size: 13px;
      line-height: 24px;
      font-weight: 400;
      text-align: center;
      color: #062033;
    }
  }
}

.overlay {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 180, 147, 0.8);
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  &__heading {
    width: 226px;
    font-family: $open_sans_font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 18px 0px 12px;
  }
  &__text {
    width: 226px;
    font-family: $open_sans_font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 64px;
  }
  &__socials-list {
    display: flex;
    &--item {
      width: 42px;
      height: 42px;
      background-color: rgba(0, 0, 0, 0.3);
      &:hover {
        background-color: rgba(0, 0, 0, 0.65);
      }
      &:not(:last-child) {
        margin-right: 4px;
      }
      & {
        background-size: 22px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
      &:nth-child(1) {
        background-image: url(../images/icons/icon-twitter.svg);
      }
      &:nth-child(2) {
        background-image: url(../images/icons/icon-facebook.svg);
      }
      &:nth-child(3) {
        background-image: url(../images/icons/icon-linkedin.svg);
      }
    }
  }
}

/* MEDIA */
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
  .section {
    padding: 104px 0px 95px;
    &__name {
      margin: 0 auto;
      margin-bottom: 63px;
      width: 288px;
      font-size: 28px;
      line-height: 1.2;
      letter-spacing: -1px;
      &:before {
        margin-right: 13px;
      }
      &:after {
        margin-left: 13px;
      }
    }
    &__text {
      width: 550px;
      margin: 0 auto;
      margin-bottom: 68px;
    }
  }

  .team-list {
    width: 574px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      &:nth-child(-n + 2){
        margin-bottom: 55px;
      }
      &:nth-child(3){
        margin-bottom: 0px;
      }
      &--name {
        margin-bottom: 6px;
      }
    }
  }
}